/* custom fonts */
@font-face {
    font-family: 'bitsa';
    src: url('../fonts/moonkids/MoonkidsPersonalUseExtbd-gxPZ3.ttf') ;
}
@font-face {
    font-family: 'ToDo';
    src: url('../fonts/dont-clic-me/DontClickMeDemoRegular-2X28.ttf') ;
}
@font-face {
    font-family: 'form-headings';
    src: url('../fonts/sans/MontserratBold-DOWZd.ttf');
}
@font-face {
    font-family: 'content';
    src: url('../fonts/sans/MontserratItalic-WyzEz.ttf');
}

*{
    overflow: hidden;
}

body{
    background-image: url('../images/background\ doodle.jpg');
    width: 10vw;
    height: 10vh;
   
}


.outer {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    width: 80vw; 
    height: 75vh;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    font-family: 'form-headings';
    overflow: hidden;
} 
#heading{
    position:relative;
    top:-2vh;
    padding: 4px;
    margin: 8px;
}
#heading p:nth-child(1) {
    font-family: bitsa;
    font-size: 16px; 
}
  
#heading p:nth-child(2) {
    transform: rotate(-6deg);
    position: absolute;
    top: -0.9vh;
    font-family: ToDo;
    color: #ff0071;
    font-size: 38px;
}


/*****************task form****************** */
.task_form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.ToDoForm label:nth-child(1){
    display: block;
}
.ToDoForm input[type ="text"]{
    width: 370px;
    max-width: 55vw;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    font-family: 'content';
}
.ToDoForm select, .ToDoForm input[type ="date"]{
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    font-family:'content';
    margin: 5px; 
    
}
#date-inFrom {
    display: inline;
}

.ToDoForm .task-button {
    padding: 10px 20px;
    background-color: #ff0071;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
.task-button[value="Delete Task"] {
    margin-left: 8vw;
}

.ToDoForm .task-button:hover {
    background-color: #ff0055;
}

.ToDoForm .task-button:focus {
    outline: none;
}




/************************task list****************** */
.tasks_list{
    max-width: 400px;
    /* 0 auto is used to horizontally center an element within its parent container.  */
    margin: 0 auto; 
    padding: 20px;     
    border: none; 
    border-top: 5px solid black;
}
#list{
    overflow-y: scroll;
    list-style-type: none;
    max-height:30vh;  
    position: relative;
    top:-1vh; 
}
#list::-webkit-scrollbar {
    width: 8px; 
    border-radius: 4px; 
    background-color: #1f1f1f; 
}
  
#list::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #656565; 
    border-radius: 4px; 
}

#list::-webkit-scrollbar-thumb:hover {
    background-color: #8c8c8c; 
}

#list::-webkit-scrollbar-track {
    background-color: #1f1f1f;
    border-radius: 4px; 
}
#list li{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -2vw;
}
#list li:hover{
    background-color: #f3f3f3; 
}

/* for line-through when task in completed */
#list .task_details input[type="checkbox"]:checked +span p
{
    text-decoration: line-through;
}
.task_details {
    display: flex;
    flex-direction: row;
    
}

.task-description {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}
.task-description p{
    margin-left: 10px;
    font-size: medium;
    font-family: "content";
    font-weight: bold;
    
}

.task-description span{
  
    color: white;
    background-color: #666364;
    border: none;
    border-radius: 3px;
    font-size: smaller;
    padding: 2px;
    margin-left:auto ; 
}
.task-date {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    font-size: 12px;
    position: relative;
    top:-14px;
    color:#666364
}
.task-date i{
    margin-right: 4px;
}






/* media queries */

@media screen and (max-width: 768px) {
    /* Update styles for smaller screens */
    .outer {
        padding: 10px;
    }

    #heading {
        font-size: 24px;
    }

    .ToDoForm {
        width: 100%;
    }

    .task-button {
        width: 100%;
        font-size: 16px;
    }
    .task-button[value="Delete Task"] {
        margin-left: 0;
    }
}


  
  /* Styles for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
    /* even smaller screens */
    .outer {
        padding: 5px;
    }

    #heading {
        font-size: 20px;
    }

    .ToDoForm {
        width: 100%;
    }
    .date-inForm{
        display: block;
    }

    .task-button {
        width: 100%;
        font-size: 14px;
    }
}
  

